<% include head.html %>

    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        
        <div class="row">
          <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
              <% menu.forEach(function(cate){%>
              	<%if(cate.name === cate1){%>
              		<%cate.cate.forEach(function(c){%>
              			<li <%if(cate2 === c.name){%>class="active"<%}%>><a href="/<%=cate1%>/<%=c.name.replace(/ /g,"%20").replace(/\//g,"%2F")%>"><i class="icon-chevron-right"></i><%=c.name%></a></li>
              		<%})%>
              	<%}%>
              <%})%>
              
            </ul>
          </div>
          <div class="span9">
    	  		<div class="container">
    	  			<form method="post" action="/search">
	          			<div class="input-prepend input-append" id="searchwrap">          				
							<span class="add-on"><%=cate1%></span>
							<input class="span4" name="keywords" type="text"/>
							<input name="cate" value="<%=cate1%>" type="hidden"/>
							<input name="page" value="1" type="hidden"/>
							<button class="btn btn-primary" type="submit">Search!</button>
						</div>
					</form>
				</div>
				<div class="container page-header">
					<h3>LATEST <%=cate1%><%if(cate2 !== ""){%> - <%=cate2%><%}%> DOWNLOADS</3>
				</div>
                <%if(softs.length){%>
                    <% softs.forEach(function(soft){ %>
                        <div class="contaniner page-header">
        				<h4><%=soft.name%></h4>
    					<i class="icon-tag"></i> <%=soft.cate_1%> <%if(cate2 !== ""){%> - <%=cate2%><%}%><br>
    					<%if(soft.updateDate !== "null"){%> <i class="icon-refresh"></i><%=soft.updateDate %><br><%}%>
    					<i class="icon-download-alt"></i>
    					<a href='javascript:;' class="softDownload" link="<%=soft.url%>">Download</a> 
    					<i class="icon-search"></i><a href="<%=soft.url%>">Link</a></br>
    					<i class="icon-file"></i><%=soft.description%><br>

				</div>
                    <% }) %>
				
                <%}else{%>
                
                <%}%>
		  </div>

        
      </div>

    </div>

   
<% include foot.html %>  
